
form .flex.flex-item .input-text{
    width: 300px;
    color: #04957d;
    background-color: #00594c;
}
form .alert{
    background-color: #dc3545;
    border-color: #dc3545;
}
form .flex-item .flex-item {
    width: 30%;
    color: #00594c;
    border: #00594c;
    color: antiquewhite;
    
}
            


            